h1{
    background-color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:beige;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:0;
}

body{
    background-color:beige;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
} 
